.body{
    background-color: black;

}

.heading{
    color: rgb(6, 151, 235);
    display: block;
    margin: auto;
    text-align: center;
}

.container{
    background-color: aquamarine;
    width: 1300px;
    height: 620px;
    display: block;
    margin: auto;
    margin-top: 10px;
    border: 1px black;
    border-radius: 10px;
}   

.chat-section{
    height: 83%;
    width: 100%;
    overflow-y: auto;
}

.send-section{
    height: 14%;
    width: 95%;
    border: 2px solid black;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    padding: 5px;
}

.formating{
    width: 100%;
    height: 25%;
    
}

.type{
    width: 100%;
    height: 50%;
}

.emoji{
    width: 100%;
    height: 25%;
}

.message{
    background-color: bisque;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container{
    width: 97%;
    display: block;
    margin: auto;
    height: 100%;
}

#messageInp{
    width: 96%;
    height: 99%;
    margin: auto;
    border: none;
    background-color: transparent;
}

.btn{
    height: 40px;
    width: 50px;
    font-size: 18px;
    background-color:rgb(128, 192, 230);
    border-radius: 10px;
    border: 2px solid black;
    position: relative;
    float: right;
    margin-right: 10px;
    bottom: 47px;
}

input:focus {
    outline:none;
}

.flex-container {
    display: flex;
  }
  
  .flex-container > div {
   margin-left: 23px;
   margin-top: 6px;
   font-size: 15px;
  }

  .flex-container2 {
    display: flex;
  }
  
  .flex-container2 > div {
   margin-left: 23px;
   margin-top: 1px;
   font-size: 15px;
  }

  .active{
      background-color: #e0e9ff;
  }

  #text-input {
    margin-top: 10px;
    border: 1px solid #dddddd;
    padding: 20px;
    height: 50vh;
  }